{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "",
        "FUNCTIONS_WORKER_RUNTIME": "node",
        "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
        "qualitychecker_STORAGE": "",
        "OPENAI_API_KEY": "",
        "OPENAI_ENDPOINT": "",
        "OPENAI_API_VERSION": "",
        "OPENAI_GPT4_VISION_DEPLOYMENT_NAME": "",
        "ORDERS_TABLE_NAME": "orders"
    }
}
